swagger: "2.0"
info:
  description: "Documentação sobre uso da API do gastarme"
  version: "1.0.0"
  title: "Swagger Gastarme"
host: "localhost:3000"
basePath: "/api"
tags:
  - name: "transaction"
    description: "Operations about transaction"
  - name: "payable"
    description: "Operations about payable"
paths:
  /v1/transactions:
    post:
      tags:
        - "transaction"
      operationId: "storeTransaction"
      parameters:
        - in: "body"
          name: "body"
          required: true
          schema:
            $ref: "#/definitions/Transaction"
      responses:
        201:
          description: "successful operation"
        400:
          description: "unsuccessful operation"
          schema:
            $ref: "#/definitions/Error"
      security:
        - ApiKeyClient: []
    get:
      tags:
        - "transaction"
      operationId: "indexTransaction"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Transaction"
      security:
        - ApiKeyClient: []
  /v1/payables:
    get:
      tags:
        - "payable"
      operationId: "filterPayable"
      parameters:
      - name: "status"
        in: "query"
        required: true
        type: string
        enum: [available, waiting_funds]
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Extract"
      security:
        - ApiKeyClient: []
securityDefinitions:
  ApiKeyClient:
    type: "apiKey"
    name: "api_key"
    in: header
definitions:
  Error:
    type: "object"
    properties:
      message:
        type: "string"
      type:
        type: "string"
  Transaction:
    type: "object"
    properties:
      id:
        type: "integer"
      amount:
        type: "string"
        required: true
      cardNumber:
        type: "string"
        required: true
      cardHolderName:
        type: "string"
        required: true
      cardExpirationDate:
        type: "string"
        required: true
      cardCvv:
        type: "string"
        required: true
      paymentMethod:
        type: "string"
        required: true
        enum: [available, waiting_funds]
      descriptionTransaction:
        type: "string"
        required: true
  Payable:
    type: "object"
    properties:
      status:
        type: string
        required: true
      paymentDate:
        type: string
        required: true
      fee:
        type: number
        required: true
      transactionId:
        type: number
        required: true
  Extract:
    type: "object"
    properties:
      value:
        type: number
        required: true
      detail:
        type: "array"
        required: true
        items:
          $ref: "#/definitions/Payable"


